### Python template
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class


#C/C++
*.d
*.obj
*.tlog
*.lastbuildstate
*.idb
*.pdb
*.swp


#Python
*.py[cod]
*.so
*.egg
*.egg-info
dist
build
env


# virtualenv
.venv
venv
ENV

#IntelliJ IDEA Files
*.iml
*.ipr
*.iws
*.idea
