[[source]]
name = "pypi"
url = "https://pypi.douban.com/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
swagger-py-codegen = "*"
flask-restful = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
pymysql = "*"
redis = "*"
itsdangerous = "*"
lin-cms = "*"

[requires]
python_version = "3.6"
